# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
test/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history
.vercel
.env*.local

# Ignore all skills except the committed ones
.github/skills/*
!.github/skills/openspec-apply-change/
!.github/skills/openspec-archive-change/
!.github/skills/openspec-explore/
!.github/skills/openspec-propose/
!.github/skills/pmt-frontend-bridge
#.github/skills/pmt-...
!.github/skills/propose-first/

# esbuild server bundle
server/index.min.js
